build/
dist/
node_modules/

.secret-*
**.sample
.expo/*

.vscode/*

src/models/schema.js
src/models/index.d.ts
amplify/cli.json
amplify/backend/api/campuscourts/schema.graphql
amplify/backend/amplify-meta.json
amplify/.config/project-config.json
amplify/.config/local-env-info.json
amplify/.config/local-aws-info.json
.vscode/settings.json

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
.vscode/settings.json
amplify/\#current-cloud-backend/amplify-meta.json
amplify/\#current-cloud-backend/api/campuscourts/cli-inputs.json
amplify/\#current-cloud-backend/api/campuscourts/parameters.json
amplify/\#current-cloud-backend/auth/campuscourts/cli-inputs.json
amplify/\#current-cloud-backend/backend-config.json
amplify/.config/local-aws-info.json
amplify/.config/project-config.json
amplify/.config/local-env-info.json
amplify/backend/amplify-meta.json
amplify/backend/api/campuscourts/parameters.json
amplify/backend/api/campuscourts/schema.graphql
amplify/backend/auth/campuscourts/cli-inputs.json
amplify/backend/types/amplify-dependent-resources-ref.d.ts
amplify/backend/backend-config.json
amplify/backend/api/campuscourts/cli-inputs.json
amplify/team-provider-info.json
amplify/cli.json
